<a href="https://colab.research.google.com/github/D1348-Kenan/D1348-Kenan/blob/main/Python_13_Ders_notlar%C4%B1m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]

for i in names:
  print("hello", i)

hello Ahmed
hello Aisha
hello Adam
hello Joseph
hello Gabriel

In [6]:
liste = []
for i in range(1,6):
    liste.append(i)
print(liste)

[1, 2, 3, 4, 5]

In [16]:
name = input("isminizi yazınız :")

for i in name:
  print(i, end="-")  #sondaki tireden nasıl kurtulacağız. Alttaki örnek.

isminizi yazınız :kwnn
k-w-n-n-

In [17]:
name = input("isminizi yazınız :")

counter = 0
for i in name:

  counter += 1
  if counter < len(name) :
    i = i + "-"
  print(i, end="")

isminizi yazınız :clarusway
c-l-a-r-u-s-w-a-y

In [19]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age": 35
}

for key, value in user.items():
  print(key,":",value)

name : Daniel
surname : Smith
age : 35

In [20]:
numara = int(input("1-9 arası numara gir"))

for i in range(11) :
  print("{}x{} = ".format(numara, i), numara * i)

1-9 arası numara gir5
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [21]:
counter = 0

for i in range(1,10) :
  print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [22]:
"5" * 5

'55555'

In [23]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [24]:
"ali " * 3

'ali ali ali '

In [25]:
print(* range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [28]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
#for x, y in zip(text, numbers):
#	print(x, ':', y)

In [33]:
zipped = zip(text, numbers)

In [34]:
for x, y in zipped:
  print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [36]:
zipped = zip(text, numbers)

In [37]:
dict(zipped)

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [40]:
evens = []
odds = []

for n in range(10):
  if n%2==0:
    evens.append(n)
  else:
    odds.append(n)
print("evens: ", evens)
print("odds :", odds)

evens:  [0, 2, 4, 6, 8]
odds : [1, 3, 5, 7, 9]