<a href="https://colab.research.google.com/github/D1348-Kenan/D1348-Kenan/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

05.11.2021 Teamwork

In [4]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(type(green))
print(yellow)
print(red)

<class 'str'>
banana
cherry

In [3]:
count, fruit, price = (2, 'apple', 3.5)

print(count)

2

In [9]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(dict(enumerate(college_years, 2019)))

{2019: 'Freshman', 2020: 'Sophomore', 2021: 'Junior', 2022: 'Senior'}

In [12]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [14]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 5, 1.5), ('Bananas', 5, 1.5)]

In [17]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
  for fruit in fruits:
for qty in quantities:
for price in prices:
 output.append((fruit, qty, price))
 i += 1
print(output)

IndentationError: ignored